<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Search Results</title>
</head>
<body>
	<header th:insert="~{navbar}"></header>

	<form action="#" th:action="@{/results}" method="get">
		<p>
			<label for="terms">Enter search terms:</label>
			<input type="text" id="terms" name="q" />
		</p>
		<p>
			<button type="submit" th:value="${q}">Search</button>
		</p>
	</form>

	<form action="#" th:action="@{/results}" method="get">
		<p>
			<input type="hidden" name="q" th:value="${self_query}" />
			<input type="hidden" name="source" th:value="${source_val}" />
			<button type="submit" th:text="${toggle_text}">Search</button>
		</p>
	</form>

	<h1>Search Results</h1>
	<ul>
		<div th:each="item : ${items}">
			<h2 th:text="${item.title}"></h2>
			<a th:href="${item.url}" th:text="${item.url}"></a>
			<p th:text="${item.citation}"></p>
			<a th:href="@{/probe(q=${item.url})}">
				<button type="button">Probe</button>
			</a>
		</div>
		<li th:each="result : ${searchResults}" th:text="${result}"></li>
	</ul>
</body>
</html>

